USE [master]
GO
/****** Object:  Database [Varyant1]    Script Date: 24.04.2026 13:53:56 ******/
CREATE DATABASE [Varyant1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Varyant1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Varyant1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Varyant1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Varyant1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Varyant1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Varyant1]
GO
/****** Object:  Table [dbo].[Driver]    Script Date: 24.04.2026 13:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Driver] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 24.04.2026 13:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ConsumerID] [int] NOT NULL,
	[TransporterID] [int] NOT NULL,
	[DateOfDispatch] [date] NOT NULL,
	[DaysOnTheRoad] [int] NOT NULL,
 CONSTRAINT [PK_Order_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDriver]    Script Date: 24.04.2026 13:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDriver](
	[OrderID] [int] NOT NULL,
	[DriverID] [int] NOT NULL,
 CONSTRAINT [PK_OrderDriver] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderManufacturer]    Script Date: 24.04.2026 13:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderManufacturer](
	[OrderID] [int] NOT NULL,
	[ManufacturerID] [int] NOT NULL,
 CONSTRAINT [PK_OrderManufacturer] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ManufacturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 24.04.2026 13:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 24.04.2026 13:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Photo] [text] NULL,
	[Gender] [nvarchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[Country] [int] NULL,
	[Experience] [int] NULL,
	[DirectorFIO] [nvarchar](150) NULL,
	[Address] [nvarchar](150) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 24.04.2026 13:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Driver] ON 

INSERT [dbo].[Driver] ([ID], [FIO], [Email], [Password], [Phone], [Gender]) VALUES (1, N'Бобров Терентий Созонович', N'bowmanbs@mac.com', N't1Os4A', N'9535958817', N'м')
INSERT [dbo].[Driver] ([ID], [FIO], [Email], [Password], [Phone], [Gender]) VALUES (2, N'Орехова Николь Дмитриевна', N'catalog@aol.com', N'wOMJfO$*00', N'9273532017', N'ж')
INSERT [dbo].[Driver] ([ID], [FIO], [Email], [Password], [Phone], [Gender]) VALUES (3, N'Бурова Анэля Пётровна', N'privcan@hotmail.com', N'kymPeI&&%78', N'9642825534', N'ж')
SET IDENTITY_INSERT [dbo].[Driver] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID], [ConsumerID], [TransporterID], [DateOfDispatch], [DaysOnTheRoad]) VALUES (1, 17, 11, CAST(N'2022-03-23' AS Date), 2)
INSERT [dbo].[Order] ([ID], [ConsumerID], [TransporterID], [DateOfDispatch], [DaysOnTheRoad]) VALUES (2, 18, 12, CAST(N'2022-03-30' AS Date), 1)
INSERT [dbo].[Order] ([ID], [ConsumerID], [TransporterID], [DateOfDispatch], [DaysOnTheRoad]) VALUES (3, 21, 12, CAST(N'2022-04-29' AS Date), 3)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[OrderDriver] ([OrderID], [DriverID]) VALUES (1, 1)
INSERT [dbo].[OrderDriver] ([OrderID], [DriverID]) VALUES (1, 11)
INSERT [dbo].[OrderDriver] ([OrderID], [DriverID]) VALUES (2, 2)
GO
INSERT [dbo].[OrderManufacturer] ([OrderID], [ManufacturerID]) VALUES (1, 33)
INSERT [dbo].[OrderManufacturer] ([OrderID], [ManufacturerID]) VALUES (2, 34)
INSERT [dbo].[OrderManufacturer] ([OrderID], [ManufacturerID]) VALUES (2, 36)
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [RoleName]) VALUES (1, N'менеджер')
INSERT [dbo].[Role] ([ID], [RoleName]) VALUES (2, N'перевозчик')
INSERT [dbo].[Role] ([ID], [RoleName]) VALUES (3, N'потребитель')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Name], [Email], [Password], [Phone], [Photo], [Gender], [DateOfBirth], [Country], [Experience], [DirectorFIO], [Address]) VALUES (1, N'Романов Дмитрий Арсентьевич', N'cehp6l3gw90y@yahoo.com', N'Xc6L78gVi9', N'77751277737', N'foto8.jpg', N'м', CAST(N'1988-02-04' AS Date), 55, 10, N'', N'')
INSERT [dbo].[User] ([ID], [Name], [Email], [Password], [Phone], [Photo], [Gender], [DateOfBirth], [Country], [Experience], [DirectorFIO], [Address]) VALUES (2, N'Журавлев Матвей Андреевич', N'auog0ir57qxy@gmail.com', N'j89Sj9BEb2', N'70625163967', N'foto9.jpg', N'м', CAST(N'1972-06-06' AS Date), 54, 5, N'', N'')
INSERT [dbo].[User] ([ID], [Name], [Email], [Password], [Phone], [Photo], [Gender], [DateOfBirth], [Country], [Experience], [DirectorFIO], [Address]) VALUES (3, N'Кудрявцев Даниэль Маркович', N'jz1lwt2874fk@tutanota.com', N'VT53ru82Ny', N'70191362011', N'foto10.jpg', N'м', CAST(N'1981-03-13' AS Date), 99, 4, N'', N'')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
INSERT [dbo].[UserRole] ([UserID], [RoleID]) VALUES (1, 1)
INSERT [dbo].[UserRole] ([UserID], [RoleID]) VALUES (2, 1)
INSERT [dbo].[UserRole] ([UserID], [RoleID]) VALUES (3, 1)
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([ConsumerID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User1] FOREIGN KEY([TransporterID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User1]
GO
ALTER TABLE [dbo].[OrderDriver]  WITH CHECK ADD  CONSTRAINT [FK_OrderDriver_Driver1] FOREIGN KEY([DriverID])
REFERENCES [dbo].[Driver] ([ID])
GO
ALTER TABLE [dbo].[OrderDriver] CHECK CONSTRAINT [FK_OrderDriver_Driver1]
GO
ALTER TABLE [dbo].[OrderDriver]  WITH CHECK ADD  CONSTRAINT [FK_OrderDriver_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([ID])
GO
ALTER TABLE [dbo].[OrderDriver] CHECK CONSTRAINT [FK_OrderDriver_Order]
GO
ALTER TABLE [dbo].[OrderManufacturer]  WITH CHECK ADD  CONSTRAINT [FK_OrderManufacturer_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([ID])
GO
ALTER TABLE [dbo].[OrderManufacturer] CHECK CONSTRAINT [FK_OrderManufacturer_Order]
GO
ALTER TABLE [dbo].[OrderManufacturer]  WITH CHECK ADD  CONSTRAINT [FK_OrderManufacturer_User] FOREIGN KEY([ManufacturerID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[OrderManufacturer] CHECK CONSTRAINT [FK_OrderManufacturer_User]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Role1] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Role1]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_User1] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_User1]
GO
USE [master]
GO
